<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://zenzoy-staging.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>zenzoy-staging.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>zenzoy__Staging</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$zenzoy__Staging</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ApplicationContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:zenzoy.database.windows.net,1433;Initial Catalog=&quot;zenzoy SQL&quot;;User ID=zenzoy@zenzoy;Password=Khorshidkhanoom2;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:zenzoy.database.windows.net,1433;Database=zenzoy SQL;User ID=zenzoy@zenzoy;Password=Khorshidkhanoom2;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Wedding.Repository.ApplicationDbContext, Repository" MigrationConfiguration="Wedding.Migrations.Configuration, Wedding" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationContext-Web.config Connection String">
      <ParameterValue>Server=tcp:zenzoy.database.windows.net,1433;Database=zenzoy SQL;User ID=zenzoy@zenzoy;Password=Khorshidkhanoom2;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>