#posted-items-display .card-text-bottom {
    height: auto;
}

#posted-items-display .card-custom-profile {
    cursor: pointer;
}

.ajax-loading-animation {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 25px auto;
    text-align: center;
    font-size: 14px;
}

.buttonLabel {
    padding: 0;
}

div#savingLabel.buttonLabel {
    background-image: url('../Images/heart.gif');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: left 55%;
    width: 65px;
    text-align: right;
}

.card-custom {
    padding-bottom: 0;
    margin-bottom: 0;
}
