@model Wedding.Models.RegisterEmail

<!DOCTYPE html>


<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Reset Password</title>
</head>
<body>
    <h3>
        Hi there,
    </h3>
    <h3>
        Please reset your ZenZoy account's password by <a href="@Model.CallbackUrl" title="reset ZenZoy password">clicking here</a>
    </h3>
    <br />
    <br />
    <div>
        <a href="https://zenzoy.com"  title="ZenZoy">
            <img width="150" src="https://zenzoy.blob.core.windows.net/images/zenzoy-logo-text.png?st=2016-06-15T02%3A41%3A00Z&se=2020-01-02T03%3A41%3A00Z&sp=r&sv=2015-04-05&sr=b&sig=xLWucxd1rik0xLX8e6BnbJecXEg6u1n5R7N1iG%2FaFis%3D" alt="zenzoy logo with text" />
        </a>
    </div>
</body>
</html>  