@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutWithFooter.cshtml";
}

<div class="row min-height">
    <div class="col-xs-10 col-md-6 col-lg-5 col-xl-4 center-block float-none">
        <div class="text-danger msg-header">@ViewBag.Title</div>
        <div class="text-danger msg-text">
            Check your email to reset your password.
        </div>
    </div>
</div>

	
