@{
    ViewBag.Title = "ZenZoy - Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutWithFooter.cshtml";
}

<div class="row min-height">
    <div class="col-xs-10 col-md-6 col-lg-5 col-xl-4 center-block float-none">
        <div class="msg-header">@ViewBag.Title</div>
        <div class="msg-text">
            Your password has been reset.
        </div>
        <div class="msg-text">
            Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </div>
    </div>
</div>
