@{
    
}

<div class="footer" itemscope itemtype="http://schema.org/CreativeWork" >
    <div class="container">
        <div class="col-xs-12 col-md-6 col-lg-5">
            <a href="/home/contact" class="footer-item-left" title="ZenZoy Contact Us">
                Contact Us
            </a>
            |
            <a href="/home/terms" class="footer-item" title="ZenZoy Terms & Conditions">
                Terms & Conditions
            </a>
            |
            <a href="/home/privacy" class="footer-item" title="ZenZoy Privacy Policy">
                Privacy Policy
            </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-7" itemprop="copyrightHolder">
            <div class="footer-copyright" itemprop="license">
                Copyright © <span itemprop="copyrightYear"> 2016 </span> <a href="https://zenzoy.com" title="ZenZoy Inc">ZenZoy Inc.</a> All rights reserved.
            </div>
        </div>
    </div>
</div>
