<div class="card-deck-wrapper" id="display-search-results-display">
</div>
<div class="clearfix"></div>

<div id="infinite-scroll-ajax-spinner-wrapper" class="ng-cloak" ng-show="loading">
    <hr />
    <div id="infinite-scroll-ajax-spinner"></div>
</div>
