<div class="card-wide-no-padding">
    <div class="card-header">
        ZenZoy Terms and Conditions
    </div>
    <div class="card-text card-div">
        By using this website, these terms will automatically websitely to you.
        <br />
        <br />
        We are offering you to use this website for your own personal use without cost, but you should be aware that you cannot send it on to anyone else, and you’re not allowed to copy, or modify the website services, or our trademarks in any way.
        <br />
        You’re not allowed to attempt to extract the source code of the website, and you also shouldn’t try to translate the website into other languages, or make derivative versions.
        <br />
        The website itself, and all the trade marks, copyright, database rights and other intellectual property rights related to it, still belong to ZenZoy.
        <br /><br />
        ZenZoy is committed to ensuring that the website is as useful and efficient as possible. For that reason, we reserve the right to make changes to the website or to charge for its services, at any time and for any reason. We will never charge you for the website or its services without making it very clear to you exactly what you’re paying for.
        <br />
        You should be aware that there are certain things that ZenZoy will not take responsibility for. Certain functions of the website, such as the ability to download and store your mobile boarding passes offline, the live Flight Tracker and the Mobile Host function will all require the website to have an active internet connection. The connection can be Wi-Fi, or provided by your mobile network provider, but ZenZoy cannot take responsibility for the website not working at full functionality if you don’t have access to Wi-Fi, and you don’t have any of your data allowance left.
        <br />
        If you’re using the website outside of an area with Wi-Fi, you should remember that your terms of agreement with your mobile network provider will still websitely. As a result, you may be charged by your mobile provider for the cost of data for the duration of the connection while accessing the website, or other third party charges. In using the website, you’re accepting responsibility for any such charges, including roaming data charges if you use the website outside of your home territory (i.e. region or country) without turning off data roaming. If you are not the bill payer for the device on which you’re using the website, please be aware that we assume that you have received permission from the bill payer for using the website.
    </div>
</div>